@use 'base';

.flex {
  display: flex;
  gap: 20px;
}

.key {
  position: relative;
  padding: 20px;
  min-width: 150px;
  background: #eee;
  border: 1px solid #999;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
  font-weight: bold;
  small {
    position: absolute;
    top: -24px;
    left: 0;
    width: 100%;
    color: #555;
    font-size: 0.875rem;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .flex {
    flex-direction: column;
    gap: 40px;
  }
}
